Header {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  background-color: white;
  align-items: center;
}

.search {
  width: 50%;
  height: auto;

}

.iconCnt {
  width: 30%;
  height: auto;
  display: flex;
  align-items: center;
}

.wrapperOfHaeder {
  width: 800px;
  display: flex;
  justify-content: space-around;
}

.icon {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 15px;
}

.iconCnt>a {
  text-decoration: none;
  color: #E91E63;
}

:root {
  --theme: #E91E63;
}

.searchDiv {
  display: flex;
  align-items: center;
  justify-content: center;

}

.searchDiv>input {
  padding: 5px 5px 5px 10px;
  border: 5px solid var(--theme);
  width: 300px;
  border-radius: unset;
  height: 45px;
}

.searchDiv>input:focus {
  border: 5px solid var(--theme);
  outline: none;
  /* Removes the default focus outline */
}


.searchDiv>button {
  padding: 5px;
  background-color: var(--theme);
  border: 5px solid var(--theme);
  font-size: large;
  color: #fff;
  transition: 0.5s linear;
  height: 45px;
  border-radius: unset;
}

.searchDiv>button:hover {
  color: #000;
  transition: 0.5s linear;
  cursor: pointer;
}

@media screen and (min-width:0px) and (max-width:786px) {
  .search {
    width: auto;
    height: auto;
  }

  .wrapperOfHaeder {
    width: 90%;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    flex-direction: column;
}
.iconCnt {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin-top: 25px;
  justify-content: flex-start;
  display: none;
}

.icon {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 15px;
}
 
Header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  padding: 15px 10px;
  position: fixed;
  z-index: 999;
  box-shadow: -1px 0px 7px 0px #0000001f;
}
 
}

