

:root {
  --white: #fff;
  --black: #000;
  --body_font_color: #000000;
  --body_font_color_05: rgba(0, 0, 0, 0.05);
  --body_font_color_25: rgba(0, 0, 0, 0.25);
  --body_font_color_50: rgba(0, 0, 0, 0.5);
  --body_font_color_lighten_15: #262626;
  --body_font_color_darken_10: #000000;
  --body_font_hover_color: #83ffb7;
  --headline_font_color: #000000;
  --headline_font_color_00: rgba(0, 0, 0, 0.0);
  --headline_font_color_05: rgba(0, 0, 0, 0.05);
  --headline_font_color_08: rgba(0, 0, 0, 0.08);
  --button_color: #99cc66;
  --button_color_25: rgba(153, 204, 102, 0.25);
  --button_color_lighten_30: #e6f2d9;
  --button_color_darken_15: #73ac39;
  --hover_button_color: #c4fa9b;
  --line_color: #dedede;
  --line_color_05: rgba(222, 222, 222, 0.05);
  --line_color_darken_10: #c5c5c5;
  --success_color: #000000;
  --error_color: #ffd2d2;
  --error_color_00: rgba(255, 210, 210, 0.0);
  --error_color_75: rgba(255, 210, 210, 0.75);
  --section_color_primary: #ffffff;
  --section_color_secondary: #f8f8f7;
  --badge_color: #ffffff;
  --badge_background_color: #ee8024;
  --a11ygrey: #767676;
  --headline_font: Raleway, sans-serif;
  --headline_font_fallback: sans-serif;
  --headline_font_weight: 400;
  --headline_font_weight_bold: 700;
  --headline_font_weight_medium: 500;
  --headline_font_style: normal;
  --body_font: Lato, sans-serif;
  --body_font_fallback: sans-serif;
  --body_font_weight: 400;
  --body_font_weight_bold: 700;
  --body_font_weight_medium: 500;
  --body_font_style: ;
  --icon_font: 'Red_Plug_Design_v4';
  --square_solid: '\e900';
  --square_crossed: '\e905';
  --x_only: '\e928';
  --check: '\e91a';
  --box: '\e901';
  --box_check: '\e907';
  --circle: '\e903';
  --circle_check: '\e90f';
  --menu_plus: '\e904';
  --menu_minus: '\e925';
  --menu_times: '\e90c';
  --arrow_down: '\e91c';
  --arrow_left: '\e91d';
  --arrow_right: '\e91e';
  --arrow_up: '\e91f';
  --rss: '\e927';
  --play: '\e940';
  --threed: '\e911';
  --bag: '\e917';
  --cart: '\e902';
  --search: '\e918';
  --account: '\e919';
  --pen: '\e920';
  --pencil: '\e921';
  --edit: '\e922';
  --pencil_ruler: '\e945';
  --fire: '\e95a';
  --cloud: '\e97b';
  --cloud_check: '\e98f';
  --shield: '\e9a1';
  --shield_check: '\e9a4';
  --shield_star: '\e9ac';
  --lock: '\e9b4';
  --lock_encrypt: '\e9ae';
  --gear: '\e9c5';
  --wrench: '\e9c6';
  --screwdriver: '\e9c8';
  --hammer: '\e9c9';
  --hammer_wrench: '\e9cb';
  --wrench_screwdriver: '\e9cc';
  --axe: '\e9ce';
  --trash: '\e9d8';
  --leaf: '\ec9b';
  --recycle: '\e9d7';
  --star: '\e9e9';
  --envelope: '\e9f2';
  --envelope_open: '\e9f3';
  --envelope_letter: '\e9f4';
  --paper_plane: '\e9f9';
  --binoculars: '\ea10';
  --file_text: '\ea22';
  --clipboard_text: '\ea42';
  --clipboard_paper: '\ea44';
  --newsletter: '\ea53';
  --certificate_vert: '\ea57';
  --certificate_horiz: '\ea58';
  --medal: '\ea59';
  --trophy: '\ea5e';
  --ticket: '\ea83';
  --megaphone: '\ea84';
  --camera: '\ea98';
  --bookmark: '\eaa9';
  --user_chat: '\eaba';
  --support: '\eac1';
  --shirt: '\eb02';
  --tank_top: '\eb03';
  --tag: '\eb32';
  --tag_text: '\eb33';
  --credit_card: '\eb36';
  --telephone: '\eb60';
  --telephone_answer: '\eb4d';
  --map: '\eb70';
  --map_marker: '\eb65';
  --map_marker_check: '\eb6a';
  --calendar: '\eb73';
  --smartphone: '\eba6';
  --monitor: '\ebc5';
  --power: '\ebd4';
  --lamp_bright: '\ebda';
  --bubble_text: '\ec0c';
  --bubble_two: '\ec10';
  --bubble_shiny: '\ec12';
  --bubble_chat: '\ec13';
  --heart: '\ec2e';
  --gift: '\ec51';
  --crown: '\ec59';
  --diamond: '\ec5d';
  --diamond_shield: '\ec5c';
  --weight_kg: '\ec75';
  --weight_lb: '\ec76';
  --weight_oz: '\ec77';
  --platter: '\ec7c';
  --piggy_bank: '\eb37';
  --rocket: '\eca8';
  --hand_truck: '\ecb1';
  --truck: '\ecd7';
  --truck_check: '\ecda';
  --box_ship: '\eb1a';
  --cube_ship: '\ed00';
  --cube_return: '\ed05';
  --ghost: '\ed41';
  --witch_hat: '\ed45';
  --halloween: '\ed46';
  --snowman: '\ed47';
  --christmas_tree: '\ed48';
  --easter_egg: '\ed49';
  --bell: '\ed55';
  --volume: '\ed5b';
  --return: '\ed8c';
  --sync: '\ed8d';
  --history: '\ed9a';
  --alarm: '\eda5';
  --pleased: '\ed26';
  --smiley: '\ed1c';
  --horns: '\ef04';
  --thumbs_up: '\edca';
  --thumbs_up_fb: '\edcc';
  --warning_triangle: '\ee23';
  --warning_octagon: '\ee25';
  --stop: '\ee24';
  --facebook: '\e94d';
  --google_plus: '\e94e';
  --instagram: '\e94f';
  --pinterest: '\e952';
  --tumblr: '\e954';
  --twitter: '\e955';
  --vimeo: '\e956';
  --youtube: '\e958';
  --base: 16px;
  --xx_small: calc(var(--base)* 0.75);
  --x_small: calc(var(--base)* 0.875);
  --small: var(--base);
  --medium: calc(var(--base)* 1.125);
  --large: calc(var(--base)* 1.625);
  --x_large: calc(var(--base)* 2.125);
  --xx_large: calc(var(--base)* 3);
  --jumbo: calc(var(--base)* 4);
  --master_spacing: 20px;
  --swatches: 36px;
}

body {

  color: var(--body_font_color);
  font-family: var(--body_font_fallback);
  font-size: var(--small);
  font-style: var(--body_font_style);
  font-weight: var(--body_font_weight);
  font-size: var(--small);
  line-height: calc(var(--small)* 1.25);
  font-family: var(--body_font);
  webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

